In [ ]:
import pandas as pd
import zipfile

# Define the ZIP file path
zip_file_path = r"C:\Users\Kyisha\OneDrive\Walmart Sales Data Analytics Capstone 2025\Dataset_1.zip"

# Open the ZIP file and list its contents
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall("extracted_files")

# Check extracted files path
csv_file_path = "extracted_files/walmart.csv"

# Load the extracted CSV file
df = pd.read_csv(csv_file_path)

# Display the first few rows
print(df.head())

print(df.info())   # View column names and data types

print(df.describe())  # Summary of statistics

# Check for missing values
missing_values = df.isnull().sum()

print("Missing values in each column:\n", missing_values)

# Check for duplicate rows
print(df.duplicated().sum())

# Convert 'Stay_In_Current_City_Years' to numeric, replacing '4+' with 4
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years']. replace('4+', 4).astype(int)

# Define mapping for age ranges
age_mapping = {
    '0-17': 9,    # Midpoint of 0-17
    '18-25': 21,  # Midpoint of 18-25
    '26-35': 30,  # Midpoint of 26-35
    '36-45': 40,  # Midpoint of 36-45
    '46-50': 48,  # Midpoint of 46-50
    '51-55': 53,  # Midpoint of 51-55
    '55+': 55     # Assume 55 as'55+'
}

# Replace age ranges with midpoint values and convert to int
df['Age'] = df['Age'].replace(age_mapping).astype(int)

# Verify conversion
print(df['Age'].unique())  # Should show integer values

print(df.dtypes)  # Check data types after conversion

print(df.head()) # Display the first few rows after conversion

# Save the cleaned DataFrame to a new CSV file
df.to_csv("cleaned_walmart_data.csv", index=False)
print("Cleaned data saved to 'cleaned_walmart_data.csv'")  # Confirmation message
# End of the script
# Note: Ensure the file paths are correct and accessible in your environment.

   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10             A
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category  Purchase
0                          2               0                 3      8370
1                          2               0                 1     15200
2                          2               0                12      1422
3                          2               0                12      1057
4                         4+               0                 8      7969
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category            550068 non-null  int64
 9   Purchase                    550068 non-null  int64
dtypes: int64(5), object(5)
memory usage: 42.0+ MB
None
            User_ID     Occupation  Marital_Status  Product_Category  \
count  5.500680e+05  550068.000000   550068.000000     550068.000000
mean   1.003029e+06       8.076707        0.409653          5.404270
std    1.727592e+03       6.522660        0.491770          3.936211
min    1.000001e+06       0.000000        0.000000          1.000000
25%    1.001516e+06       2.000000        0.000000          1.000000
50%    1.003077e+06       7.000000        0.000000          5.000000
75%    1.004478e+06      14.000000        1.000000          8.000000
max    1.006040e+06      20.000000        1.000000         20.000000

            Purchase
count  550068.000000
mean     9263.968713
std      5023.065394
min        12.000000
25%      5823.000000
50%      8047.000000
75%     12054.000000
max     23961.000000
Missing values in each column:
 User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category              0
Purchase                      0
dtype: int64
0

C:\Users\Kyisha\AppData\Local\Temp\ipykernel_14312\2806364765.py:47: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Age'] = df['Age'].replace(age_mapping).astype(int)

[ 9 55 30 48 53 40 21]
User_ID                        int64
Product_ID                    object
Gender                        object
Age                            int64
Occupation                     int64
City_Category                 object
Stay_In_Current_City_Years     int64
Marital_Status                 int64
Product_Category               int64
Purchase                       int64
dtype: object
   User_ID Product_ID Gender  Age  Occupation City_Category  \
0  1000001  P00069042      F    9          10             A
1  1000001  P00248942      F    9          10             A
2  1000001  P00087842      F    9          10             A
3  1000001  P00085442      F    9          10             A
4  1000002  P00285442      M   55          16             C

   Stay_In_Current_City_Years  Marital_Status  Product_Category  Purchase
0                           2               0                 3      8370
1                           2               0                 1     15200
2                           2               0                12      1422
3                           2               0                12      1057
4                           4               0                 8      7969
Cleaned data saved to 'cleaned_walmart_data.csv'

In [41]:
import pandas as pd
import zipfile

# Define the ZIP file path
zip_file_path = r"C:\Users\Kyisha\OneDrive\Walmart Sales Data Analytics Capstone 2025\Dataset_2.zip"

# Open the ZIP file and list its contents
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall("extracted_files") 

# Check extracted files path
csv_file_path = "extracted_files/walmart_sales.csv"

# Load the extracted CSV file
df = pd.read_csv(csv_file_path)

# Display the first few rows
print(df.head())

print(df.info())   # View column names and data types

print(df.describe())  # Summary of statistics

# Check for missing values
missing_values = df.isnull().sum()

print("Missing values in each column:\n", missing_values)

# Check for duplicate rows
print(df.duplicated().sum())

# Select only numeric columns
numeric_cols = df.select_dtypes(include=['number']).columns

# Round and convert only numeric columns to integers
df[numeric_cols] = df[numeric_cols].round().astype(int)

# Verify conversion
print(df.dtypes)

print(df.head())  # Check if numeric values are rounded

# Save the cleaned DataFrame to a new CSV file
df.to_csv("cleaned_walmart_sales_data.csv", index=False)
print("Cleaned sales data saved to 'cleaned_walmart_sales_data.csv'")  # Confirmation message
# End of the script
# Note: Ensure that the paths and filenames are correct for your environment.

   Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.561
4      1  05-03-2010    1554806.68             0        46.50       2.625

          CPI  Unemployment
0  211.096358         8.106
1  211.242170         8.106
2  211.289143         8.106
3  211.319643         8.106
4  211.350143         8.106
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB
None
             Store  Weekly_Sales  Holiday_Flag  Temperature   Fuel_Price  \
count  6435.000000  6.435000e+03   6435.000000  6435.000000  6435.000000
mean     23.000000  1.046965e+06      0.069930    60.663782     3.358607
std      12.988182  5.643666e+05      0.255049    18.444933     0.459020
min       1.000000  2.099862e+05      0.000000    -2.060000     2.472000
25%      12.000000  5.533501e+05      0.000000    47.460000     2.933000
50%      23.000000  9.607460e+05      0.000000    62.670000     3.445000
75%      34.000000  1.420159e+06      0.000000    74.940000     3.735000
max      45.000000  3.818686e+06      1.000000   100.140000     4.468000

               CPI  Unemployment
count  6435.000000   6435.000000
mean    171.578394      7.999151
std      39.356712      1.875885
min     126.064000      3.879000
25%     131.735000      6.891000
50%     182.616521      7.874000
75%     212.743293      8.622000
max     227.232807     14.313000
Missing values in each column:
 Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64
0
Store            int64
Date            object
Weekly_Sales     int64
Holiday_Flag     int64
Temperature      int64
Fuel_Price       int64
CPI              int64
Unemployment     int64
dtype: object
   Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0      1  05-02-2010       1643691             0           42           3
1      1  12-02-2010       1641957             1           39           3
2      1  19-02-2010       1611968             0           40           3
3      1  26-02-2010       1409728             0           47           3
4      1  05-03-2010       1554807             0           46           3

   CPI  Unemployment
0  211             8
1  211             8
2  211             8
3  211             8
4  211             8
Cleaned sales data saved to 'cleaned_walmart_sales_data.csv'

In [48]:
import pandas as pd

# Load CSVs
df1 = pd.read_csv("cleaned_walmart_data.csv")
df2 = pd.read_csv("cleaned_walmart_sales_data.csv")

# Reset index to create an artificial key
df1.reset_index(inplace=True)
df2.reset_index(inplace=True)

# Merge on the newly created index
df_combined = pd.concat([df1, df2], axis=1)

# Print result
print(df_combined)

# Analysis of the combined data
# Customer spending
total_spend = df1.groupby("User_ID")["Purchase"].sum()
print("Total spend per user:\n", total_spend)

# Average spent by age group
avg_spend_age = df1.groupby("Age")["Purchase"].mean()
print("Average spend by age group:\n", avg_spend_age)

# Round the average spent by age group to the nearest integer
avg_spend_age = df1.groupby("Age")["Purchase"].mean().round(0).astype(int)
print("Average spend by age group (rounded):\n", avg_spend_age)

# Total sales holiday and non-holiday
sales_holiday = df2.groupby("Holiday_Flag")["Weekly_Sales"].sum()
print("Total sales during holidays:\n", sales_holiday)

# save the combined DataFrame to a new CSV file
df_combined.to_csv("combined_walmart_data.csv", index=False)
print("Combined data saved to 'combined_walmart_data.csv'")  # Confirmation message
# End of the script
# Note: Ensure that the paths and filenames are correct for your environment.

         index  User_ID Product_ID Gender  Age  Occupation City_Category  \
0            0  1000001  P00069042      F    9          10             A
1            1  1000001  P00248942      F    9          10             A
2            2  1000001  P00087842      F    9          10             A
3            3  1000001  P00085442      F    9          10             A
4            4  1000002  P00285442      M   55          16             C
...        ...      ...        ...    ...  ...         ...           ...
550063  550063  1006033  P00372445      M   53          13             B
550064  550064  1006035  P00375436      F   30           1             C
550065  550065  1006036  P00375436      F   30          15             B
550066  550066  1006038  P00375436      F   55           1             C
550067  550067  1006039  P00371644      F   48           0             B

        Stay_In_Current_City_Years  Marital_Status  Product_Category  \
0                                2               0                 3
1                                2               0                 1
2                                2               0                12
3                                2               0                12
4                                4               0                 8
...                            ...             ...               ...
550063                           1               1                20
550064                           3               0                20
550065                           4               1                20
550066                           2               0                20
550067                           4               1                20

        Purchase  index  Store        Date  Weekly_Sales  Holiday_Flag  \
0           8370    0.0    1.0  05-02-2010     1643691.0           0.0
1          15200    1.0    1.0  12-02-2010     1641957.0           1.0
2           1422    2.0    1.0  19-02-2010     1611968.0           0.0
3           1057    3.0    1.0  26-02-2010     1409728.0           0.0
4           7969    4.0    1.0  05-03-2010     1554807.0           0.0
...          ...    ...    ...         ...           ...           ...
550063       368    NaN    NaN         NaN           NaN           NaN
550064       371    NaN    NaN         NaN           NaN           NaN
550065       137    NaN    NaN         NaN           NaN           NaN
550066       365    NaN    NaN         NaN           NaN           NaN
550067       490    NaN    NaN         NaN           NaN           NaN

        Temperature  Fuel_Price    CPI  Unemployment
0              42.0         3.0  211.0           8.0
1              39.0         3.0  211.0           8.0
2              40.0         3.0  211.0           8.0
3              47.0         3.0  211.0           8.0
4              46.0         3.0  211.0           8.0
...             ...         ...    ...           ...
550063          NaN         NaN    NaN           NaN
550064          NaN         NaN    NaN           NaN
550065          NaN         NaN    NaN           NaN
550066          NaN         NaN    NaN           NaN
550067          NaN         NaN    NaN           NaN

[550068 rows x 20 columns]
Total spend per user:
 User_ID
1000001     334093
1000002     810472
1000003     341635
1000004     206468
1000005     821001
            ...
1006036    4116058
1006037    1119538
1006038      90034
1006039     590319
1006040    1653299
Name: Purchase, Length: 5891, dtype: int64
Average spend by age group:
 Age
9     8933.464640
21    9169.663606
30    9252.690633
40    9331.350695
48    9208.625697
53    9534.808031
55    9336.280459
Name: Purchase, dtype: float64
Average spend by age group (rounded):
 Age
9     8933
21    9170
30    9253
40    9331
48    9209
53    9535
55    9336
Name: Purchase, dtype: int64
Total sales during holidays:
 Holiday_Flag
0    6231919429
1     505299550
Name: Weekly_Sales, dtype: int64
Combined data saved to 'combined_walmart_data.csv'